################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build
/paradice/include/paradice/export.hpp
/CMakeSettings.json
build
